.App {
  text-align: center;
  /* position: relative; */
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  width: 10%;
  text-align: center;
  margin: 5px;
  background-color: DodgerBlue;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 10px 3px 10px 3px;
  
}

.share-btn{
  width: 15%;
  text-align: center;
  margin: 5px;
  background-color: DodgerBlue;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 10px 3px 10px 3px;
  
}

.entry-btn{
  width: 10%;
  text-align: center;
  margin: 5px;
  background-color: DodgerBlue;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 10px 3px 10px 3px;
  position: absolute; 
  right: 20px; 
  top: 20px; 
}

.explore-btn{
  width: 10%;
  text-align: center;
  margin: 5px;
  background-color: Gold ;
  border: 0;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  padding: 10px 3px 10px 3px;
  
}

.cate-btn{
  width: 15%;
  text-align: center;
  margin: 5px;
  background-color: white;
  border: 0;
  border-radius: 10px;
  color:DodgerBlue;
  border: 2px solid DodgerBlue;
  font-size: 16px;
  padding: 10px 3px 10px 3px;
}

h1, p{
  color: DodgerBlue;
}

label {
display: flex;
flex-direction: column;
align-items: center;
margin: 5px;
}

input{
  width: 200%;
  height: 30px;
}

.addCate{
  width: 40%;
}

.share-card{
  border: grey solid 2px;
  margin: 0 30px 0 30px;
}

.share-text{
  color: grey
}